---
layout: default
---

<style>
  header.masthead-index {
    margin-bottom: 50px;
    background-color: #6c757d;
    background-attachment: scroll;
    position: relative;
    background-size: contain;

    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
  }
</style>
<!-- Page Header -->
{% if page.background %}
<header
  class="masthead-index"
  style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead-index">
    {% endif %}
    <div class="overlay" style="height: 70px"></div>
    <div class="container"></div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto text-center">
        <img
          srcset="{{'/assets/Blue2theMoon-300.png'| relative_url  }} 300w, {{'/assets/Blue2theMoon-700.png'| relative_url  }} 700w"
          sizes="(max-width: 700px) 300px,
         700px"
          src="{{'/assets/Blue2theMoon-700.png'| relative_url  }}"
          alt="Northern Bricks Logo"
          style="padding-bottom: 50px" />
        <br />
        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">
              {{ post.excerpt | strip_html | truncatewords: 15 }}
            </h3>
            {% endif %}
          </a>
          <p class="post-meta">
            Posted by {% if post.author %} {{ post.author }} {% else %} {{
            site.author }} {% endif %} on {{ post.date | date: '%B %d, %Y' }}
            &middot; {% include read_time.html content=post.content %}
          </p>
        </article>

        <hr />

        {% endfor %}

        <!-- Pager -->
        <!-- <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div> -->
      </div>
    </div>
  </div>
</header>
